<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihandy.a2014011425">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="段清楠"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:name=".NewsApp"
        android:theme="@style/SimpleTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutMeActivity"
            android:label="@string/title_activity_about_me"/>
        <activity
            android:name=".CategoryManagementActivity"
            android:label="@string/title_activity_category_management" />
        <activity
            android:name=".FavouriteActivity"
            android:label="@string/title_activity_favourite" />
        <activity
            android:name=".NewsViewActivity"
            android:label="@string/title_activity_news_view"/>
    </application>

</manifest>